body {
  font-family: 'Lora', serif;
  background-color: #3A5863;
}

a {
  color: white;
  text-decoration: none;
}


.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
  background-color: #b2b2b2;
  opacity: 50%;
}

.container a {
  color: #696969;
}

.title {
  text-align: center;
}

nav {
  text-align: center;
}

#post-image-container {
  margin-left: auto;
  margin-right: auto;
}
