<h1 class = "title">#<%= @tag.body %></h1>

  <ul id ="tagged-posts">
    <% @tag.posts.reverse.each do |post| %>
    <%= erb :'/posts/_individual_post', layout: false, locals: {post: post} %>
  <% end %>
  </ul>
