<div class = "container">
  <h3><%= erb :'/_errors', layout: false %></h3>

<h1 class ="title">Add a new post</h1>

<a id="upload-image-button" href="#">Upload an image</a><span>&nbsp;&nbsp;&nbsp;<a id="make-text-post-button" href="#">Make a text post</a></span>

<form class = "form" id= "new-post-form" action = '/posts/new' method= "post">
  <br><input class= "hidden" id = "image-form" type = "text" name= "image" placeholder= "Enter URL here">
  <textarea class= "hidden" id ="text-post-form" type = "text" name= "post[body]">Your text post here</textarea><br>
  <br><label for= "post[caption]">Caption</label><br>
  <textarea type = "text" name= "post[caption]"></textarea><br><br>
  <p>Add tags as comma separated values:</p>
    <input type="text" name="tag">
    <input type="submit" value="Add post">
  </form>
  </div>
</form>

</div>
